* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

#wrap {
  background-color: #111;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 60px;
  background-color: #111;
  z-index: 9999;
}
.header .nav_box {
  width: 100%;
}
.header .nav_box ul {
  display: flex;
  justify-content: end;
}
.header .nav_box ul li:hover a::before,
.header .nav_box ul li:hover a::after {
  width: 40%;
}
.header .nav_box ul li a {
  position: relative;
  display: block;
  color: #fff;
  line-height: 60px;
  padding: 5px 25px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
}
.header .nav_box ul li a::before, .header .nav_box ul li a::after {
  content: "";
  position: absolute;
  left: 49%;
  bottom: 17px;
  display: block;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s;
}
.header .nav_box ul li a::after {
  left: auto;
  right: 50%;
}

main {
  /* .gallery {
      display: flex;
      width: 100%;

      .gallery_left,
      .gallery_center,
      .gallery_right {
        width: 100%;

        .img_box {
          position: relative;
          padding: 4px;

          &::before,
          &::after {
            content: '';
            display: block;
            position: absolute;
            background-color: #fff;
            width: 0;
            height: 0;
            transition: .3s;
          }

          &:hover {
            &::before {
              width: 4px;
              height: 100%;
            }

            &::after {
              width: 100%;
              height: 4px;
            }

            .gallery_img {
              &::before {
                width: 100.5%;
                height: 4px;
              }

              &::after {
                width: 4px;
                height: 100%;
              }

              img {
                transform: scale(1.2);
              }
            }

          }

          &::before {
            left: -3px;
            bottom: 0;
          }

          &::after {
            right: 0px;
            bottom: 0px;
          }

          .gallery_img {
            overflow: hidden;

            &::before {
              content: '';
              display: block;
              position: absolute;
              left: -3px;
              top: -3px;
              background-color: #fff;
              width: 0;
              height: 0;
              transition: .3s;
            }

            &::after {
              content: '';
              display: block;
              position: absolute;
              right: 0px;
              top: 0px;
              background-color: #fff;
              width: 0;
              height: 0;
              transition: .3s;
            }


            img {
              width: 100%;
              height: 100%;
              transition: .6s;
              cursor: pointer;
            }

          }
        }


      }

      .gallery_left {
        width: 28%;

        .img_box {
          padding-left: 0;

          &:nth-child(1) {
            .gallery_img {
              height: 580px;
            }
          }


          &:nth-child(2) {
            .gallery_img {}
          }
        }
      }

      .gallery_center {
        width: 36%;

        .img_box {
          &:nth-child(1) {
            .gallery_img {}
          }


          &:nth-child(2) {
            .gallery_img {
              height: 580px;
            }
          }
        }
      }

      .gallery_right {
        width: 36%;

        .img_box {
          padding-right: 0;

          &:nth-child(1) {
            .gallery_img {}
          }


          &:nth-child(2) {
            .gallery_img {}
          }
        }
      }


    }
  } */
}
main .visual {
  padding-top: 70px;
  overflow: hidden;
  border-bottom: 1px solid #1e1e1e;
}
main .visual .visual_bg {
  position: relative;
  width: 100%;
  animation: bg_ani 1s linear;
  height: calc(100vh - 70px);
}
main .visual .visual_bg video {
  width: 100%;
}
@keyframes bg_ani {
  0% {
    opacity: 0;
    scale: 1.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
main .visual .text_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}
main .visual .text_box .text_inner {
  padding: 80px 200px 0 200px;
  display: flex;
  flex-direction: column;
}
main .visual .text_box .text_inner .text_top {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
main .visual .text_box .text_inner .text_top p {
  font-weight: 500;
  line-height: 1.1;
}
main .visual .text_box .text_inner .text_top p.sub {
  font-size: 2rem;
  margin-bottom: 10px;
}
main .visual .text_box .text_inner .text_top p.tit {
  width: 890px;
  font-size: 4rem;
  letter-spacing: -3px;
  margin-bottom: 15px;
}
main .visual .text_box .text_inner .text_top p.sub_1 {
  font-size: 20px;
}
main .visual .arrow_bottom {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 20px;
  height: 20px;
  font-size: 0;
  z-index: 1;
}
main .visual .arrow_bottom::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  cursor: pointer;
  animation: arrow_ani 1.2s infinite linear;
}
@keyframes arrow_ani {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: -20px;
    opacity: 0;
  }
}
main .design_section {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #1e1e1e;
}
main .design_section .design_bg {
  position: relative;
  height: calc(100vh - 70px);
}
main .design_section .design_bg img {
  width: 100%;
  height: 100%;
}
main .design_section .design_text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 0;
  padding-left: 200px;
  color: #fff;
}
main .design_section .design_text h2 {
  font-size: 4.5rem;
  padding-bottom: 50px;
  letter-spacing: 2px;
  font-weight: 500;
}
main .design_section .design_text .design_desc {
  position: relative;
  width: 550px;
}
main .design_section .design_text .design_desc::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 82px;
  background-color: #fff;
  margin-right: 20px;
}
main .design_section .design_text .design_desc p {
  width: 100%;
  font-size: 18px;
  margin-left: 10px;
  line-height: 1.5;
}
main .design_section .design_text .design_btn {
  text-align: center;
  padding-top: 40px;
}
main .design_section .design_text .design_btn button {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 50px;
  margin-right: 30px;
  background: none;
  color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}
main .design_section .design_text .design_btn button:last-child {
  margin-right: 0;
}
main .design_section .design_text .design_btn button span {
  position: relative;
  font-size: 18px;
  letter-spacing: 2px;
}
main .design_section .design_text .design_btn button:hover span {
  color: #000;
}
main .design_section .design_text .design_btn button:hover::before {
  width: 100%;
  opacity: 1;
  background-color: #fff;
}
main .design_section .design_text .design_btn button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 50px;
  transition: all 0.4s;
  opacity: 0;
}
main .design_section .popup {
  scale: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px 50px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s;
}
main .design_section .popup .pop_top,
main .design_section .popup .pop_bottom {
  display: flex;
}
main .design_section .popup .pop_top .exter_img,
main .design_section .popup .pop_top .inter_img,
main .design_section .popup .pop_bottom .exter_img,
main .design_section .popup .pop_bottom .inter_img {
  width: 60%;
}
main .design_section .popup .pop_top .exter_img img,
main .design_section .popup .pop_top .inter_img img,
main .design_section .popup .pop_bottom .exter_img img,
main .design_section .popup .pop_bottom .inter_img img {
  width: 100%;
}
main .design_section .popup .pop_top .inter_img,
main .design_section .popup .pop_bottom .inter_img {
  width: 55%;
}
main .design_section .popup .pop_top .exter_desc,
main .design_section .popup .pop_top .inter_desc,
main .design_section .popup .pop_bottom .exter_desc,
main .design_section .popup .pop_bottom .inter_desc {
  width: 40%;
  color: #fff;
  padding: 20px 50px;
}
main .design_section .popup .pop_top .exter_desc h2,
main .design_section .popup .pop_top .inter_desc h2,
main .design_section .popup .pop_bottom .exter_desc h2,
main .design_section .popup .pop_bottom .inter_desc h2 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 20px;
}
main .design_section .popup .pop_top .exter_desc p,
main .design_section .popup .pop_top .inter_desc p,
main .design_section .popup .pop_bottom .exter_desc p,
main .design_section .popup .pop_bottom .inter_desc p {
  font-size: 22px;
}
main .design_section .popup .pop_bottom .exter_img {
  width: 55%;
  transform: translateY(-20%);
}
main .design_section .popup .pop_bottom .exter_img img {
  width: 100%;
}
main .design_section .popup .pop_bottom .inter_img {
  width: 40%;
  transform: translate(-2%, -32%);
}
main .design_section .popup .pop_bottom .inter_img img {
  width: 80%;
  margin: 0 auto;
}
main .design_section .popup .pop_bottom .inter_desc {
  width: 60%;
  color: #fff;
}
main .design_section .popup .pop_bottom .exter_desc {
  width: 45%;
  color: #fff;
}
main .design_section .popup .popup_close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 0;
}
main .design_section .popup .popup_close::before, main .design_section .popup .popup_close::after {
  content: "";
  position: absolute;
  left: 22px;
  display: block;
  width: 5px;
  height: 50px;
  background-color: #fff;
  transform: rotate(45deg);
}
main .design_section .popup .popup_close::after {
  transform: rotate(135deg);
}
main .design_section .popup .popup_close:hover {
  background-color: #fff;
}
main .design_section .popup .popup_close:hover::before, main .design_section .popup .popup_close:hover::after {
  background-color: #000;
}
main .color_section {
  height: calc(100vh - 70px);
  border-bottom: 1px solid #1e1e1e;
}
main .color_section h1 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 100px;
  text-align: center;
  color: #fff;
}
main .color_section .genesis_color {
  position: relative;
  width: 100%;
  padding: 0 200px;
  margin-top: 60px;
}
main .color_section .genesis_color .swiper-wrapper li {
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
  padding: 0 50px;
}
main .color_section .genesis_color .swiper-wrapper li.swiper-slide-active {
  opacity: 1;
  scale: 1;
}
main .color_section .genesis_color .swiper-wrapper li.swiper-slide-prev {
  scale: 0.8;
}
main .color_section .genesis_color .swiper-wrapper li.swiper-slide-next {
  scale: 0.8;
}
main .color_section .genesis_color .swiper-wrapper li .color_box img {
  width: 100%;
  margin: 0 auto;
  transition: 0.3s;
}
main .color_section .genesis_color .swiper-wrapper li .color_box img.scale {
  transform: scale(1.4);
}
main .color_section .genesis_color .swiper-pagination {
  width: 300px;
  bottom: auto;
  left: auto;
  top: 50px;
  right: 310px;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  opacity: 0.6;
  transition: 0.3s;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  width: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:nth-child(1) {
  background-color: #fff;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:nth-child(2) {
  background-color: #47464a;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:nth-child(3) {
  background-color: #000;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:nth-child(4) {
  background-color: #0000ff;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:nth-child(5) {
  background-color: red;
}
main .color_section .genesis_color .button {
  position: absolute;
  left: 13%;
  top: 45%;
  color: #fff;
  font-weight: 700;
}
main .color_section .genesis_color .swiper-button-next {
  left: auto;
  right: 13%;
}
main .performance_section {
  background: url(../images/performance_bg.jpg) no-repeat;
  height: calc(100vh - 70px);
  overflow: hidden;
}
main .performance_section .performance {
  padding: 0 190px;
}
main .performance_section .performance h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  color: #fff;
  margin: 50px 0 25px 0;
}
main .performance_section .performance .tab {
  display: flex;
  border: 1px solid #fff;
  border-bottom: none;
}
main .performance_section .performance .tab p {
  width: 25%;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
}
main .performance_section .performance .tab p.on {
  background-color: #fff;
  color: #000;
}
main .performance_section .performance .tab p:last-child {
  border-right: none;
}
main .performance_section .performance .tab_desc {
  width: 100%;
  overflow: hidden;
}
main .performance_section .performance .tab_desc .suspension .sus {
  position: relative;
  width: 100%;
}
main .performance_section .performance .tab_desc .suspension .sus::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, transparent, #111);
}
main .performance_section .performance .tab_desc .suspension .sus .sus_img {
  width: 100%;
  height: 100%;
}
main .performance_section .performance .tab_desc .suspension .sus .sus_desc {
  position: absolute;
  top: 70px;
  left: 50px;
  z-index: 2;
  width: 40%;
}
main .performance_section .performance .tab_desc .suspension .sus .sus_desc p {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}
main .performance_section .performance .tab_desc .suspension .sus .sus_desc p.tit {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  font-size: 26px;
}
main .performance_section .performance .tab_desc .technology {
  display: none;
}
main .performance_section .performance .tab_desc .technology .tech {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}
main .performance_section .performance .tab_desc .technology .tech .tech_video {
  width: 54%;
}
main .performance_section .performance .tab_desc .technology .tech .tech_video video {
  width: 100%;
  height: 100%;
  border: none;
}
main .performance_section .performance .tab_desc .technology .tech .tech_desc {
  width: 46%;
  padding: 150px 50px 0;
  z-index: 1;
}
main .performance_section .performance .tab_desc .technology .tech .tech_desc p {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
main .performance_section .performance .tab_desc .technology .tech .tech_desc p.tit {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  font-size: 26px;
}
main .performance_section .performance .tab_desc .buildto {
  display: none;
}
main .performance_section .performance .tab_desc .buildto .build {
  position: relative;
}
main .performance_section .performance .tab_desc .buildto .build::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, transparent, #111);
}
main .performance_section .performance .tab_desc .buildto .build .build_img {
  width: 100%;
}
main .performance_section .performance .tab_desc .buildto .build .build_desc {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 48%;
  z-index: 1;
  padding: 0 60px;
}
main .performance_section .performance .tab_desc .buildto .build .build_desc p {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
main .performance_section .performance .tab_desc .buildto .build .build_desc p.tit {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  font-size: 26px;
}
main .performance_section .performance .tab_desc .gvengine {
  display: none;
}
main .performance_section .performance .tab_desc .gvengine .engine {
  position: relative;
}
main .performance_section .performance .tab_desc .gvengine .engine .engine_img {
  width: 140%;
  height: 100%;
}
main .performance_section .performance .tab_desc .gvengine .engine .engine_desc {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 48%;
  z-index: 1;
  padding: 90px 60px;
}
main .performance_section .performance .tab_desc .gvengine .engine .engine_desc p {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
main .performance_section .performance .tab_desc .gvengine .engine .engine_desc p.tit {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  font-size: 26px;
}/*# sourceMappingURL=main.css.map */