* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

#wrap {
  background-color: #111;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 120px;
}
.header .nav_box {
  width: 100%;
}
.header .nav_box ul {
  display: flex;
  justify-content: end;
}
.header .nav_box ul li:hover a::before,
.header .nav_box ul li:hover a::after {
  width: 40%;
}
.header .nav_box ul li a {
  position: relative;
  display: block;
  color: #fff;
  line-height: 60px;
  padding: 10px 25px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
}
.header .nav_box ul li a::before {
  content: "";
  position: absolute;
  left: 49%;
  bottom: 20px;
  display: block;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s;
}
.header .nav_box ul li a::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 20px;
  display: block;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s;
}

main .visual {
  position: relative;
}
main .visual .visual_bg {
  /*  background: url(../images/genesis\ visual.jpg) no-repeat;
  background-size: cover;
  background-position: center center; */
  width: 100%;
  animation: bg_ani 1s linear;
  /* &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to left, transparent, #111);
  } */
  /* &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom, transparent, #111);
  } */
}
main .visual .visual_bg video {
  width: 100%;
  height: 100%;
}
@keyframes bg_ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .visual .text_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}
main .visual .text_box .text_inner {
  padding: 80px 300px 0 300px;
  display: flex;
  flex-direction: column;
}
main .visual .text_box .text_inner .text_top {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
main .visual .text_box .text_inner .text_top p {
  font-weight: 500;
  line-height: 1.1;
}
main .visual .text_box .text_inner .text_top p.sub {
  font-size: 2rem;
  margin-bottom: 10px;
}
main .visual .text_box .text_inner .text_top p.tit {
  width: 890px;
  font-size: 4rem;
  letter-spacing: -3px;
  margin-bottom: 15px;
}
main .visual .text_box .text_inner .text_top p.sub_1 {
  font-size: 20px;
}
main .visual .arrow_bottom {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 20px;
  height: 20px;
  font-size: 0;
  z-index: 1;
}
main .visual .arrow_bottom::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  cursor: pointer;
  animation: arrow_ani 1.2s infinite linear;
}
@keyframes arrow_ani {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: -20px;
    opacity: 0;
  }
}
main .different {
  padding: 10px 0 30px 0;
}
main .different p {
  text-align: center;
  color: #ccc;
  letter-spacing: -1px;
}
main .design_section {
  position: relative;
  margin: 50px 0;
}
main .design_section .design_bg {
  position: relative;
}
main .design_section .design_bg img {
  width: 100%;
}
main .design_section .design_text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 0;
  padding-top: 100px;
  padding-left: 200px;
  color: #fff;
}
main .design_section .design_text h2 {
  font-size: 6rem;
  padding-bottom: 50px;
  letter-spacing: 2px;
}
main .design_section .design_text .design_desc {
  width: 520px;
}
main .design_section .design_text .design_desc::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 65px;
  background-color: #fff;
}
main .design_section .design_text .design_desc p {
  padding-left: 20px;
}
main .design_section .design_img {
  position: absolute;
  top: 0;
  left: 0;
}
main .design_section .design_img img {
  width: 30%;
}
main .design_section .design_img1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33%;
}
main .design_section .design_img1 img {
  width: 100%;
}
main .color_section {
  padding-bottom: 50px;
}
main .color_section h1 {
  font-size: 3rem;
  margin-bottom: -25px;
  text-align: center;
  color: #fff;
}
main .color_section .genesis_color {
  position: relative;
  width: 100%;
}
main .color_section .genesis_color .swiper-wrapper li {
  opacity: 0;
  transition: all 1.5s;
}
main .color_section .genesis_color .swiper-wrapper li.swiper-slide-active {
  opacity: 1;
}
main .color_section .genesis_color .swiper-wrapper li.swiper-slide-active .color_box img {
  opacity: 1;
  transform: translateX(0);
  animation: active_ani 0.6s linear;
}
@keyframes active_ani {
  50% {
    transform: translateX(-4%);
  }
  100% {
    transform: translateX(0);
  }
}
main .color_section .genesis_color .swiper-wrapper li .color_box img {
  opacity: 0;
  margin: 0 auto;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  opacity: 0.5;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 3px solid #ccc;
  opacity: 1;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:nth-child(1) {
  background-color: #fff;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:nth-child(2) {
  background-color: #47464a;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:nth-child(3) {
  background-color: #000;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:nth-child(4) {
  background-color: blue;
}
main .color_section .genesis_color .swiper-pagination .swiper-pagination-bullet:nth-child(5) {
  background-color: red;
}
main .color_section .genesis_color .button {
  position: absolute;
  left: 13%;
  top: 45%;
  color: #fff;
  font-weight: 700;
}
main .color_section .genesis_color .swiper-button-next {
  left: auto;
  right: 13%;
}
main .gallery {
  display: flex;
  width: 100%;
  padding: 100px 0;
}
main .gallery .gallery_left,
main .gallery .gallery_center,
main .gallery .gallery_right {
  width: 34%;
}
main .gallery .gallery_left .img_box,
main .gallery .gallery_center .img_box,
main .gallery .gallery_right .img_box {
  padding: 4px;
}
main .gallery .gallery_left .img_box img,
main .gallery .gallery_center .img_box img,
main .gallery .gallery_right .img_box img {
  width: 100%;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */