* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

#wrap {
  background-color: #111;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 60px;

  .nav_box {
    width: 100%;

    ul {
      display: flex;
      justify-content: end;

      li {
        &:hover {

          a::before,
          a::after {
            width: 40%;
          }
        }

        a {
          position: relative;
          display: block;
          color: #fff;
          line-height: 60px;
          padding: 5px 25px;
          font-size: 20px;
          text-align: center;
          letter-spacing: 5px;

          &::before,
          &::after {
            content: '';
            position: absolute;
            left: 49%;
            bottom: 17px;
            display: block;
            width: 0;
            height: 1px;
            background-color: #fff;
            transition: all 0.3s;

          }

          &::after {
            right: 50%;

          }
        }

      }
    }
  }

}


main {
  .visual {
    position: relative;

    .visual_bg {
      width: 100%;
      animation: bg_ani 1s linear;
      height: calc(100vh - 70px);
      overflow: hidden;

      video {
        width: 100%;
      }

      @keyframes bg_ani {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

    }

    .text_box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: #fff;

      .text_inner {
        padding: 80px 200px 0 200px;
        display: flex;
        flex-direction: column;

        .text_top {
          display: flex;
          flex-direction: column;
          justify-content: start;

          p {
            font-weight: 500;
            line-height: 1.1;

            &.sub {
              font-size: 2rem;
              margin-bottom: 10px;
            }

            &.tit {
              width: 890px;
              font-size: 4rem;
              letter-spacing: -3px;
              margin-bottom: 15px;
            }

            &.sub_1 {
              font-size: 20px;
            }
          }
        }

      }

    }

    .arrow_bottom {
      position: absolute;
      bottom: 60px;
      left: 50%;
      width: 20px;
      height: 20px;
      font-size: 0;
      z-index: 1;

      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: 3px solid #fff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        cursor: pointer;
        animation: arrow_ani 1.2s infinite linear;

        @keyframes arrow_ani {
          0% {
            bottom: 0;
            opacity: 1;
          }

          100% {
            bottom: -20px;
            opacity: 0;
          }
        }
      }
    }

  }


  .design_section {
    position: relative;
    margin: 150px 0;

    .design_bg {
      position: relative;
      height: calc(100vh - 70px);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .design_text {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 200px;
      left: 0;
      padding-left: 200px;
      color: #fff;

      h2 {
        font-size: 6rem;
        padding-bottom: 50px;
        letter-spacing: 2px;
      }

      .design_desc {
        position: relative;
        width: 520px;

        &::before {
          content: '';
          position: absolute;
          width: 1px;
          height: 65px;
          background-color: #fff;
          margin-right: 20px;
        }

        p {
          width: 100%;
          margin-left: 10px;
        }
      }

      .design_btn {
        text-align: center;
        padding-top: 20px;

        button {
          position: relative;
          display: inline-block;
          width: 200px;
          height: 50px;
          background: none;
          color: #fff;
          border: 1px solid #ccc;
          cursor: pointer;

          span {
            position: relative;
            font-size: 18px;
            letter-spacing: 2px;
          }

          &:hover {
            span {
              color: #000;
            }

            &::before {
              width: 100%;
              opacity: 1;
              background-color: #fff
            }

          }

          &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 50px;
            transition: all 0.4s;
            opacity: 0;
          }
        }

      }
    }


    .popup {
      scale: 0;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      backdrop-filter: blur(5px);
      transition: all 0.3s;

      .pop_top,
      .pop_bottom {
        display: flex;

        .exter_img,
        .inter_img {
          width: 60%;
          // transform: translateY(-5%);

          img {
            width: 100%;
          }
        }

        .exter_desc,
        .inter_desc {
          width: 40%;
          color: #fff;
          padding: 60px;

          h2 {
            font-size: 40px;
            text-align: center;
            margin-bottom: 20px;
          }

          p {
            font-size: 24px;
          }
        }
      }

      .pop_bottom {

        .exter_img {
          width: 55%;
          transform: translateY(-13%);

          img {
            width: 100%;
          }
        }

        .inter_img {
          width: 38%;
          transform: translate(-2%, -35.5%);
        }

        .inter_desc {
          width: 62%;
          color: #fff;
        }

        .exter_desc {
          width: 45%;
          color: #fff;
        }
      }

      .popup_close {
        position: absolute;
        top: 10px;
        right: 20px;
        border: 2px solid #fff;
        width: 50px;
        height: 50px;
        cursor: pointer;
        font-size: 0;

        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 22px;
          display: block;
          width: 5px;
          height: 50px;
          background-color: #fff;
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(135deg);
        }

        &:hover {
          background-color: #fff;

          &::before,
          &::after {
            background-color: #000;
          }
        }
      }
    }


  }



  .color_section {
    padding-bottom: 50px;

    h1 {
      font-size: 3rem;
      margin-bottom: -25px;
      text-align: center;
      color: #fff;
    }

    .genesis_color {
      position: relative;
      width: 100%;

      .swiper-wrapper {

        li {
          opacity: 0;
          transition: all 1.5s;

          &.swiper-slide-active {
            opacity: 1;

            .color_box {
              img {
                opacity: 1;
                transform: translateX(0);

              }

            }
          }

          .color_box {
            img {
              opacity: 0;
              margin: 0 auto;

            }
          }
        }
      }

      .swiper-pagination {
        .swiper-pagination-bullet {
          position: relative;
          width: 50px;
          height: 50px;
          margin-right: 15px;
          opacity: 0.5;

          &:last-child {
            margin-right: 0;
          }

          &.swiper-pagination-bullet-active {
            border: 3px solid #ccc;
            opacity: 1;
          }

          &:nth-child(1) {
            background-color: #fff;
          }

          &:nth-child(2) {
            background-color: #47464a;
          }

          &:nth-child(3) {
            background-color: #000;
          }

          &:nth-child(4) {
            background-color: blue;
          }

          &:nth-child(5) {
            background-color: red;
          }
        }
      }

      .button {
        position: absolute;
        left: 13%;
        top: 45%;
        color: #fff;
        font-weight: 700;
      }

      .swiper-button-next {
        left: auto;
        right: 13%;
      }
    }
  }

  .gallery {
    display: flex;
    width: 100%;
    padding: 100px 0;


    .gallery_left,
    .gallery_center,
    .gallery_right {
      width: 34%;

      .img_box {
        padding: 4px;

        img {
          width: 100%;
          cursor: pointer;

          &.hei {}
        }
      }
    }

    .gallery_center {}

  }
}