* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 100px;
}

#wrap {
  background-color: #111;
}

.header {
  display: flex;
  align-items: center;

  .logo_box {
    padding: 10px 50px;

    img {
      margin: 0 auto;
    }
  }

  .nav_box {
    ul {
      display: flex;
      justify-content: center;

      li {
        color: #fff;
        line-height: 70px;
      }
    }
  }

}

main {
  .visual {
    position: relative;

    .visual_bg {
      position: absolute;
      left: 0;
      top: 0;
      background: url(../images/genesis\ visual.jpg) no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100vh;
      z-index: -1;
    }

    .text_box {
      position: absolute;
      color: #fff;
      padding: 100px 300px;

      h1 {
        font-size: 2rem;
      }

      p.tit {
        font-size: 5rem;
      }

      p {}
    }
  }
}